################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiREST/v17/.suo
/.vs
/FilmesAPI/bin/Debug/net5.0
/FilmesAPI/obj
